---
	import Head from '../../components/Head.astro';
    import BackArrow from '../../components/BackArrow.astro';
	import Zoompic from '../../components/Zoompic.astro';
    
---

<html lang="en">
	<head>
		<Head />
	</head>
	<body>
        <main>
            <BackArrow href="/" />
            <Zoompic src="/assets/20211010/page3/20211010_133144_HDR2.webp"/>
        </main>
    </body>
</html>