---
	import Head from '../components/Head.astro';
	import Header from '../components/Header.astro'
	import BackArrow from '../components/BackArrow.astro';
	import ForwardArrow from '../components/ForwardArrow.astro';
	import Thumbpic from '../components/Thumbpic.astro';
---

<html lang="en">
	<head>
		<Head />
	</head>
	<body>
		<main class="main">
			<header>
				<Header />
			</header>
			<div class="arrows">
				<BackArrow href="/" />
				<ForwardArrow href="/day3"/>
			</div>
			<div class="column">
				<Thumbpic href="/day2zoom/p1zoom" src="/assets/thumb/20211004_093341-2thumb.webp" />
				<Thumbpic href="/day2zoom/p2zoom" src="/assets/thumb/20211004_093407-2thumb.webp" />
				<Thumbpic href="/day2zoom/p3zoom" src="/assets/thumb/20211004_093409-2thumb.webp" />
				<Thumbpic href="/day2zoom/p4zoom" src="/assets/thumb/20211004_093410-2thumb.webp" />
				<Thumbpic href="/day2zoom/p5zoom" src="/assets/thumb/20211010_122420_HDR_Thumb.webp" />
				<Thumbpic href="/day2zoom/p6zoom" src="/assets/thumb/20211010_122438_HDR_Thumb.webp" />
				<Thumbpic href="/day2zoom/p7zoom" src="/assets/thumb/20211010_122551_HDR_Thumb.webp" />
				<Thumbpic href="/day2zoom/p8zoom" src="/assets/thumb/20211010_122603_HDR_Thumb.webp" />
				<Thumbpic href="/day2zoom/p9zoom" src="/assets/thumb/20211010_122608_HDR_Thumb.webp" />
				<Thumbpic href="/day2zoom/p10zoom" src="/assets/thumb/20211010_122611_Thumb.webp" />
				<Thumbpic href="/day2zoom/p11zoom" src="/assets/thumb/20211010_122621_HDR_Thumb.webp" />
				<Thumbpic href="/day2zoom/p12zoom" src="/assets/thumb/20211010_124206_Thumb.webp" />
				<Thumbpic href="/day2zoom/p13zoom" src="/assets/thumb/20211010_124209_Thumb.webp" />
				<Thumbpic href="/day2zoom/p14zoom" src="/assets/thumb/20211010_124216_Thumb.webp" />
				<Thumbpic href="/day2zoom/p15zoom" src="/assets/thumb/20211010_132048_Thumb.webp" />
				<Thumbpic href="/day2zoom/p16zoom" src="/assets/thumb/20211010_132044_Thumb.webp" />
				<Thumbpic href="/day2zoom/p19zoom" src="/assets/thumb/20211010_125926_Thumb.webp" />
				<Thumbpic href="/day3zoom/pic1zoom" src="/assets/20211007/thumbs/20211006_162736-2thumb.webp" />
				<Thumbpic href="/day3zoom/pic2zoom" src="/assets/20211007/thumbs/20211007_113327-2thumb.webp" />


				<Thumbpic href="/day3zoom/pic3zoom" src="/assets/20211007/thumbs/20211007_113302-2thumb.webp" />
				<Thumbpic href="/day3zoom/pic6zoom" src="/assets/20211007/thumbs/20211007_140506_HDR-2thumb.webp" />
				<Thumbpic href="/day3zoom/pic7zoom" src="/assets/20211007/thumbs/20211007_113316-2thumb.webp" />
				<Thumbpic href="/day3zoom/pic10zoom" src="/assets/20211007/thumbs/20211006_163035-2thumb.webp"/>
				<Thumbpic href="/day3zoom/pic12zoom" src="/assets/20211007/thumbs/20211007_113321-2thumb.webp" />
			</div>
		</main>
	</body>
</html>
