---
	import Head from '../components/Head.astro';
	import Header from '../components/Header.astro'
	import BackArrow from '../components/BackArrow.astro';
	import ForwardArrow from '../components/ForwardArrow.astro';
	import Thumbpic from '../components/Thumbpic.astro';
---

<html lang="en">
	<head>
		<Head />
	</head>
	<body>
		<main class="main">
			<header>
				<Header />
			</header>
			<div class="arrows">
				<BackArrow href="/day2"/>
				<ForwardArrow href="/"/>
			</div>
			<div class="column">
				<Thumbpic href="/day4zoom/p1zoom" src="/assets/thumb/20211010_135004_HDR_Thumb.webp" />
				<Thumbpic href="/day4zoom/p2zoom" src="/assets/thumb/20211010_135059_HDR_Thumb.webp" />
				<Thumbpic href="/day4zoom/p3zoom" src="/assets/thumb/20211010_135105_HDR_Thumb.webp" />
				<Thumbpic href="/day4zoom/p4zoom" src="/assets/thumb/20211010_135110_HDR_Thumb.webp" />
				<Thumbpic href="/day4zoom/p5zoom" src="/assets/thumb/20211010_135116_HDR_Thumb.webp" />

				
				<Thumbpic href="/day4zoom/p12zoom" src="/assets/thumb/20211010_140219_HDR_Thumb.webp" />
				<Thumbpic href="/day4zoom/p13zoom" src="/assets/thumb/20211010_140226_HDR_Thumb.webp" />
				<Thumbpic href="/day4zoom/p14zoom" src="/assets/thumb/20211010_140908_HDR_Thumb.webp" />
				<Thumbpic href="/day4zoom/p15zoom" src="/assets/thumb/20211010_140914_HDR_Thumb.webp" />
				<Thumbpic href="/day4zoom/p16zoom" src="/assets/thumb/20211010_140035_Thumb.webp" />
				<Thumbpic href="/day4zoom/p17zoom" src="/assets/thumb/20211010_140039_HDR_Thumb.webp" />
				<Thumbpic href="/day4zoom/p18zoom" src="/assets/thumb/20211010_140044_Thumb.webp" />



				<Thumbpic href="/day5zoom/p1zoom" src="/assets/thumb/20211010_132048_Thumb.webp" />
				<Thumbpic href="/day5zoom/p2zoom" src="/assets/thumb/20211010_133144_HDR_Thumb.webp" />
				<Thumbpic href="/day5zoom/p3zoom" src="/assets/thumb/20211010_133147_HDR_Thumb.webp" />
				<Thumbpic href="/day5zoom/p4zoom" src="/assets/thumb/20211010_133151_HDR_Thumb.webp" />
				<Thumbpic href="/day5zoom/p5zoom" src="/assets/thumb/20211010_133407_HDR_Thumb.webp" />
				<Thumbpic href="/day5zoom/p9zoom" src="/assets/thumb/20211010_134023_HDR_Thumb.webp" />
				<Thumbpic href="/day5zoom/p10zoom" src="/assets/thumb/20211010_134028_HDR_Thumb.webp" />
				<Thumbpic href="/day5zoom/p11zoom" src="/assets/thumb/20211010_134037_HDR_Thumb.webp" />
				<Thumbpic href="/day5zoom/p12zoom" src="/assets/thumb/20211010_134950_Thumb.webp" />
				<Thumbpic href="/day5zoom/p13zoom" src="/assets/thumb/20211010_134954_HDR_Thumb.webp" />
				<Thumbpic href="/day5zoom/p14zoom" src="/assets/thumb/20211010_134959_HDR_Thumb.webp" />
				<Thumbpic href="/day5zoom/p15zoom" src="/assets/thumb/20211010_141105_HDR_Thumb.webp" />
				<Thumbpic href="/day5zoom/p16zoom" src="/assets/thumb/20211010_141107_HDR_Thumb.webp" />
				<Thumbpic href="/day5zoom/p17zoom" src="/assets/thumb/20211010_141549_HDR_Thumb.webp" />
				<Thumbpic href="/day5zoom/p18zoom" src="/assets/thumb/20211010_141553_HDR_Thumb.webp" />
				<Thumbpic href="/day5zoom/p19zoom" src="/assets/thumb/20211010_141555_HDR_Thumb.webp" />
				<Thumbpic href="/day5zoom/p20zoom" src="/assets/thumb/20211010_141600_HDR_Thumb.webp" />
			</div>
		</main>
	</body>
</html>
