---
	import Head from '../components/Head.astro';
	import Header from '../components/Header.astro'
	import BackArrow from '../components/BackArrow.astro';
	import ForwardArrow from '../components/ForwardArrow.astro';
	import Thumbpic from '../components/Thumbpic.astro';
---
<html lang="en">
	<head>
		<Head />
	</head>
	<body>
		<main>
			<Header />
			<div class="arrows">
				<BackArrow href="https://frontpageastro.pages.dev/"/>
				<ForwardArrow href="/day2"/>
			</div>
			<div class="column">
				<Thumbpic href="/day1zoom/pic1zoom" src="/assets/thumb/20211003_131040_Thumb.webp" />
				<Thumbpic href="/day1zoom/pic2zoom" src="/assets/thumb/20211003_131117_Thumb.webp" />
				<Thumbpic href="/day1zoom/pic3zoom" src="/assets/thumb/20211003_135914_Thumb.webp" />
				<Thumbpic href="/day1zoom/pic4zoom" src="/assets/thumb/20211003_131052_Thumb.webp" />
				<Thumbpic href="/day1zoom/pic5zoom" src="/assets/thumb/20211003_131139_Thumb.webp" />
				<Thumbpic href="/day5zoom/p21zoom" src="/assets/thumb/20211010_144813_Burst01_Thumb.webp" />
				<Thumbpic href="/day5zoom/p6zoom" src="/assets/thumb/20211010_133420_HDR_Thumb.webp" />
				<Thumbpic href="/day5zoom/p7zoom" src="/assets/thumb/20211010_133427_HDR_Thumb.webp" />
				<Thumbpic href="/day5zoom/p8zoom" src="/assets/thumb/20211010_133432_HDR_Thumb.webp" />
				<Thumbpic href="/day5zoom/p22zoom" src="/assets/thumb/20211010_164841_Thumb.webp" />
				<Thumbpic href="/day5zoom/p23zoom" src="/assets/thumb/20211010_164844_Thumb.webp" />
				<Thumbpic href="/day4zoom/p21zoom" src="/assets/thumb/20211010_144838_HDR_Thumb.webp" />
				<Thumbpic href="/day4zoom/p20zoom" src="/assets/thumb/20211010_144838_HDR_Thumb.webp" />
				<Thumbpic href="/day4zoom/p6zoom" src="/assets/thumb/20211010_135534_HDR_Thumb.webp" />
				<Thumbpic href="/day4zoom/p19zoom" src="/assets/thumb/20211010_144834_HDR_Thumb.webp" />
				<Thumbpic href="/day4zoom/p11zoom" src="/assets/thumb/20211010_140049_HDR_Thumb.webp" />
				<Thumbpic href="/day3zoom/pic4zoom" src="/assets/20211007/thumbs/20211007_133940_HDR-2thumb.webp" />
				<Thumbpic href="/day3zoom/pic14zoom" src="/assets/20211007/thumbs/20211007_133933_HDR-2thumb.webp" />
				<Thumbpic href="/day3zoom/pic9zoom" src="/assets/20211007/thumbs/20211007_133819-2thumb.webp" />
				<Thumbpic href="/day3zoom/pic5zoom" src="/assets/20211007/thumbs/20211007_133940_HDR-2thumb.webp" />
			</div>
			<div class="column">
				<Thumbpic href="/day3zoom/pic8zoom" src="/assets/20211007/thumbs/20211007_113302-2thumb.webp" />
				<Thumbpic href="/day3zoom/pic11zoom" src="/assets/20211007/thumbs/20211007_113316-2thumb.webp" />
				<Thumbpic href="/day3zoom/pic13zoom" src="/assets/20211007/thumbs/20211007_113321-2thumb.webp" />
				<Thumbpic href="/day4zoom/p9zoom" src="/assets/thumb/20211010_140039_HDR_Thumb.webp" />
				<Thumbpic href="/day4zoom/p10zoom" src="/assets/thumb/20211010_140044_Thumb.webp" />
				<Thumbpic href="/day4zoom/p7zoom" src="/assets/thumb/20211010_140027_HDR_Thumb.webp" />
				<Thumbpic href="/day4zoom/p8zoom" src="/assets/thumb/20211010_140035_Thumb.webp" />
			</div>
		</main>
	</body>
</html>
