---
	import Head from '../../components/Head.astro';
    import BackArrow from '../../components/BackArrow.astro';
	import Zoompic from '../../components/Zoompic.astro'; 
---

<html lang="en">
	<head>
		<Head />
	</head>
	<body>
        <main>
            <BackArrow href="/" />
            <Zoompic src="/assets/20211010/page1/20211010_122603_HDR2.webp"/>
        </main>
    </body>
</html>

