---
	import Head from '../../components/Head.astro';
    import BackArrow from '../../components/BackArrow.astro';
	import Zoompic from '../../components/Zoompic.astro'; 
---

<html lang="en">
	<head>
		<Head />
	</head>
	<body>
        <main>
            <BackArrow href="/" />
            <Zoompic src="/assets/20211007/20211007_133940_HDR-2.webp"/>
        </main>
    </body>
</html>

